<%- include('../partials/head') %>
<script src="js/cv.js" type="text/javascript" defer></script>
<body class="cv-body">

  <header class="cv-header">
    <h1>Mi Currículum</h1>
    <h2>Santiago Guastavino</h2>
    <div class="trigger-box">
      <i class="fa-solid fa-bars"></i>
    </div>
  </header>

  <main class="cv-main">

    <section class="cv-section">

      <h3>Experiencia</h3>

      <div>
        <strong>Desarrollador Web</strong>
        <p>Limboteams</p>
        <p>Septiembre 2022 - presente</p>
      </div>

      <div>
        <strong>Desarrollador Web</strong>
        <p>Punto de compra</p>
        <p>Agosto 2022 - presente</p>
      </div>

      <div>
        <strong>Desarrollador Web</strong>
        <p>Pixel Ecom</p>
        <p>Septiembre 2021 - Agosto 2022</p>
      </div>

      <div>
        <strong>Desarrollador Web</strong>
        <p>Game Central</p>
        <p>Marzo 2021 - Agosto 2021</p>
      </div>

      <div>
        <strong>Topógrafo</strong>
        <p>Pablo Barello & Asoc. Ingeniería Civil</p>
        <p>Enero 2016 - Diciembre 2020</p>
      </div>

    </section>

    <aside class="cv-aside">

      <img src="https://avatars.githubusercontent.com/u/80531029?v=4" alt="profile-pic">
      <strong>Me llamo</strong>
      <p>Santiago</p>
      <strong>Tengo</strong>
      <p>30 años</p>
      <strong>Vivo en</strong>
      <p>Gualeguaychú, Entre Ríos</p>
      <strong>Vivo con</strong>
      <p>Mi 
        <a class="side-link" target="_blank" rel="noreferrer" href="https://i.imgur.com/yQnqyfq.jpg">
          perra
        </a>
      </p>
      <strong>Soy</strong>
      <p>de Boca</p>
      <strong>Me gusta</strong>
      <p>Programar cosas</p>
      <strong>También</strong>
      <p>Hacer deporte</p>
      <strong>En mi tiempo libre</strong>
      <p>Juego video juegos</p>

    </aside>

  </main>

  <footer class="footer cv-footer">
    <%- include('../partials/footer') %>
  </footer>

</body>
</html>
