<%- include('../partials/head') %>

<body class="int-body">
  <section class="int-top-section-wrapper">

    <div class="int-nav-wrapper">
      <nav class="int-nav">
        <div class="int-nav-logo">
          <img src="/img/integrator/codoacodo.png" alt="cac-logo" />
          <p>Conf Bs As</p>
        </div>
        <ul class="int-nav-links">
          <li class="active">La conferencia</li>
          <li>Los oradores</li>
          <li>El lugar y la fecha</li>
          <li>Conviértete en orador</li>
          <li class="last-li">Comprar tickets</li>
        </ul>
      </nav>
    </div>

    <header class="int-header-message">
      <h2>
        Conf Bs As
      </h2>
      <p>
        Bs As llega por primera vez a Argentina. Un evento para compartir con nuestra comunidad el conocimiento y experiencia de los expertos que están creando el futuro de Internet. Ven a conocer a miembros del evento, a otros estudiantes de Codo a Codo y los oradores de primer nivel que tenemos para ti. Te esperamos!
      </p>
      <div>
        <button>

        </button>
        <button>

        </button>
      </div>
    </header>

  </section>

  <main class="int-main">
    <section class="int-banner">

    </section>
    <section class="">

    </section>
  </main>
</body>
</html>
