.index-body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #121212;
  overflow: hidden;
}

.index-main {
  height: 88vh;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 12vh;
}
.index-main a {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 24px;
  border: 2px solid #808080;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  background-color: #222222;
  transition: all 0.1s cubic-bezier(0.25, 0.25, 0.25, 0.25);
  box-shadow: 3px 3px 3px #000;
}
.index-main a:hover {
  background-color: #000000;
}

.index-footer {
  height: 12vh;
  border-top: 2px solid #808080;
}
.index-footer:after {
  box-shadow: 3px 3px 3px #000;
}
.index-footer a:hover {
  color: #808080;
}

@media (min-width: 576px) {
  .index-main a {
    font-size: 36px;
  }
}
.cv-body {
  font-family: "Roboto", sans-serif;
  color: #121212;
  background-color: #F9F6EE;
}

.cv-header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 12vh;
  position: relative;
}
.cv-header h1 {
  font-size: 24px;
}
.cv-header h2 {
  font-size: 18px;
}
.cv-header .trigger-box {
  position: absolute;
  width: 50px;
  height: 12vh;
  right: 0;
  top: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.cv-header .trigger-box i {
  font-size: 24px;
}

.cv-main {
  height: 76vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.cv-section {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  max-width: 600px;
  margin: 0 auto;
  transition: all 0.1s cubic-bezier(0.25, 0.25, 0.25, 0.25);
}
.cv-section.blur {
  opacity: 0.5;
  filter: blur(2px);
  pointer-events: none;
}
.cv-section h3 {
  width: 100%;
  height: 5vh;
  text-align: center;
  position: relative;
  padding-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}
.cv-section h3:after {
  content: "";
  display: block;
  position: absolute;
  width: 70%;
  top: 0;
  left: 0;
  border-top: #ccc 2px solid;
  left: 50%;
  transform: translate(-50%);
  z-index: 5;
}
.cv-section div {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 10vh;
  padding: 8px;
  margin: 10px 0;
}
.cv-section div:after {
  content: "";
  display: block;
  position: absolute;
  width: 30%;
  top: 0;
  left: 0;
  border-top: #ccc 2px solid;
  left: 50%;
  transform: translate(-50%);
}
.cv-section div strong,
.cv-section div p {
  padding: 3px 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.cv-aside {
  position: absolute;
  right: -300px;
  width: 200px;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  transition: right 0.1s cubic-bezier(0.25, 0.25, 0.25, 0.25);
  z-index: 3;
  background-color: #F9F6EE;
  border-left: #ccc 2px solid;
  border-top: #ccc 2px solid;
}
.cv-aside.display {
  right: 0;
}
.cv-aside strong {
  margin-top: 20px;
  margin-bottom: 8px;
}
.cv-aside img {
  width: 100px;
  border-radius: 50%;
}
.cv-aside .side-link {
  text-decoration: underline;
}
.cv-aside .side-link:hover {
  color: #373737;
  text-decoration: underline;
}

.cv-footer {
  height: 12vh;
  border-top: #ccc 2px solid;
}
.cv-footer a:hover {
  color: #373737;
}

@media (min-width: 576px) {
  .cv-header h1 {
    font-size: 36px;
  }
  .cv-header h2 {
    font-size: 30px;
  }
  .cv-header .trigger-box i {
    font-size: 30px;
  }
  .cv-section div strong,
.cv-section div p {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .cv-header .trigger-box {
    display: none;
  }
  .cv-section div strong,
.cv-section div p {
    text-align: left;
  }
  .cv-section div:after {
    width: 10%;
    left: 0;
    transform: none;
  }
  .cv-aside {
    right: 0;
    border: none;
    border-left: #ccc 2px solid;
  }
}
@media (min-width: 992px) {
  .cv-body {
    overflow-y: hidden;
  }
}
.google-body {
  font-family: arial, sans-serif;
  background-color: #ffffff;
  font-weight: 500;
  display: flex;
  flex-flow: column wrap;
}

.google-navbar {
  height: 60px;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 6px;
}
.google-navbar .nav-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0 4px 0 32px;
}
.google-navbar .nav-box .nav-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px;
  color: rgba(0, 0, 0, 0.87);
}
.google-navbar .nav-box .nav-links p {
  font-size: 13px;
  line-height: 24px;
}
.google-navbar .nav-box .nav-links p:first-child {
  padding-right: 15px;
}
.google-navbar .nav-box .nav-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
.google-navbar .nav-box .nav-buttons .nav-button-grid {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}
.google-navbar .nav-box .nav-buttons .nav-button-grid div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.google-navbar .nav-box .nav-buttons .nav-button-grid div:hover {
  background-color: rgba(60, 64, 67, 0.08);
}
.google-navbar .nav-box .nav-buttons .nav-button-grid div img {
  width: 16px;
  height: 16px;
  opacity: 0.5;
}
.google-navbar .nav-box .nav-buttons .nav-button-button {
  font-family: "Roboto", helvetica;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: #1a73e8;
  color: #ffffff;
  padding: 9px 23px;
  border: 1px solid transparent;
  cursor: pointer;
  min-width: 96px;
  margin: 0 8px;
}
.google-navbar .nav-box .nav-buttons .nav-button-button:hover {
  background-color: #1b66c9;
  box-shadow: 0 1px 3px 1px rgba(66, 64, 67, 0.15), 0 1px 2px 0 rgba(60, 64, 67, 0.3);
}

.google-main {
  height: 84.1vh;
  width: 100vw;
  flex-grow: 3;
  display: flex;
  flex-flow: column wrap;
}
.google-main .logo {
  width: 100%;
  height: 290px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
}
.google-main .logo div {
  width: fit-content;
}
.google-main .search-bar {
  width: 100%;
  height: 160px;
  padding: 20px;
}
.google-main .search-bar div {
  margin: 0 auto;
  margin-top: 6px;
  width: 584px;
  height: 46px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 8px 0 15px;
}
.google-main .search-bar div:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
.google-main .search-bar div i {
  font-size: 14px;
  color: #9aa0a6;
  width: 33px;
  padding-right: 12px;
}
.google-main .more {
  width: 100%;
  height: 376px;
}

.google-footer {
  height: 94px;
}

.int-body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.int-body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.int-top-section-wrapper {
  width: 100%;
  background-image: url("/img/integrator/ba1.jpg");
  background-position: center;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.int-nav-wrapper {
  width: 100%;
  height: 80px;
  background-color: #353a40;
  display: relative;
}

.int-nav {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.int-nav .int-nav-logo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.int-nav .int-nav-logo img {
  width: 140px;
}
.int-nav .int-nav-logo p {
  font-size: 24px;
  color: #fff;
}
.int-nav .int-nav-links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}
.int-nav .int-nav-links li {
  color: #949b9b;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.1s ease;
}
.int-nav .int-nav-links li.active {
  color: #fff;
}
.int-nav .int-nav-links li.last-li {
  color: #29a442;
}
.int-nav .int-nav-links li:first-child {
  margin-left: 0;
}
.int-nav .int-nav-links li:last-child {
  margin-right: 0;
}
.int-nav .int-nav-links li:hover {
  color: #fff;
  text-decoration: underline;
  transform: scale(1.02);
}
.int-nav .int-nav-links li:hover.last-li {
  color: #29a442;
}

.int-header-message {
  position: absolute;
  align-self: flex-end;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  justify-content: center;
  width: 600px;
  color: #fff;
  right: 150px;
  bottom: 300px;
}
.int-header-message p {
  text-align: right;
}
.int-header-message div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.int-header-message div button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
  transition: all 0.1s ease;
}
.int-header-message div button#just-button {
  background-color: transparent !important;
  border: 1px solid #fff;
}
.int-header-message div button#just-button:hover {
  background-color: #fff !important;
  color: #000;
}
.int-header-message div button#success {
  background-color: #29a442 !important;
  border: 1px solid transparent;
}
.int-header-message div button#success:hover {
  background-color: #007413 !important;
}

.int-main {
  height: 1000px;
}

.calculator-main {
  padding-top: 12vh;
  height: 88vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.calculator-main .calculator-wrapper {
  width: 300px;
}
.calculator-main .calculator-wrapper div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}
.calculator-main .calculator-wrapper div label,
.calculator-main .calculator-wrapper div input,
.calculator-main .calculator-wrapper div button {
  width: 100%;
  padding: 6px;
}
.calculator-main .calculator-wrapper div input,
.calculator-main .calculator-wrapper div button {
  border: 1px solid black;
  background-color: #fff;
}
.calculator-main .calculator-wrapper div input {
  outline: 1px solid transparent;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.calculator-main .calculator-wrapper div input:focus, .calculator-main .calculator-wrapper div input:active {
  border: 1px solid #ccc;
}
.calculator-main .calculator-wrapper div button {
  border-radius: 6px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.calculator-main .calculator-wrapper div button:hover {
  box-shadow: 0px 0px 2.5px 3px black;
  border: 1px solid #ccc;
  cursor: pointer;
}
.calculator-main .calculator-wrapper div label {
  text-align: center;
}
.calculator-main .calculator-wrapper .operation-box {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.calculator-main .calculator-wrapper .operation-box button {
  width: 24%;
  margin: 0 0.5%;
}
.calculator-main .calculator-wrapper .visor-box {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #ccc;
}
.calculator-main .calculator-wrapper .visor-box input {
  display: block;
  width: 33%;
  border: none;
  pointer-events: none;
  text-align: center;
  font-size: 18px;
}

#result {
  border: 2px solid black;
  pointer-events: none;
  font-size: 20px;
  text-align: center;
}

#calculator-error-box span {
  margin: 2.5px 0;
}
#calculator-error-box.show {
  background-color: #FAA0A0;
  color: black;
  text-shadow: #fff;
  font-weight: 600;
  padding: 20px;
}

.calculator-footer {
  border-top: 2px solid #808080;
  height: 12vh;
}

.err-body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #121212;
  overflow: hidden;
  position: relative;
}

.err-main {
  height: 88vh;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 12vh;
}
.err-main div {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 24px;
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 20px;
  background-color: #cf6679;
  transition: all 0.1s cubic-bezier(0.25, 0.25, 0.25, 0.25);
  box-shadow: 3px 3px 3px #000;
}
.err-main div p {
  color: #000;
  font-size: 18px;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
}

.err-go-home {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #fff;
  font-size: 18px;
  border: 2px solid #808080;
  box-shadow: 3px 3px 3px #000;
  border-radius: 12px;
  padding: 20px;
  transition: all 0.1s cubic-bezier(0.25, 0.25, 0.25, 0.25);
}

.err-footer {
  height: 12vh;
  border-top: 2px solid #808080;
}
.err-footer:after {
  box-shadow: 3px 3px 3px #000;
}
.err-footer a:hover {
  color: #808080;
}

@media (min-width: 576px) {
  .err-main div p {
    font-size: 36px;
  }
  .err-go-home {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .err-go-home {
    border: 2px transparent solid;
    box-shadow: none;
  }
  .err-go-home:hover {
    border: 2px solid #808080;
    box-shadow: 3px 3px 3px #000;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

a, a:link, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.footer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.footer:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 1px;
}
.footer a {
  font-size: 30px;
  margin: 0 15px;
  cursor: pointer;
  transition: all 0.1s cubic-bezier(0.25, 0.25, 0.25, 0.25);
}
.footer a:hover {
  transform: scale(1.1);
}
