<%- include('../partials/head') %>
<script src="js/calculator.js" type="text/javascript" defer></script>
<body>

  <main class="calculator-main">

    <div>
      <label>
        Ingrese un número
      </label>
      <input
        type="text"
        name="n1"
        id="n1"
        required
      >
    </div>
  
    <div>
      <label>
        Ingrese otro número
      </label>
      <input
        type="text"
        name="n2"
        id="n2"
        required
      >
    </div>
  
    <div>
      <label>
        Ingrese una operación
      </label>
      <div class="operation-box">
        <button
          id="add"
        >
          +
        </button>
        <button
          id="substract"
        >
          -
        </button>
        <button
          id="multiply"
        >
          x
        </button>
        <button
          id="divide"
        >
          %
        </button>
      </div>
    </div>
    
    <div>
      <button id="operate">
        Calcular
      </button>
    </div>
  
    <div>
      <label>
        Resultado
      </label>
      <input
        type="text"
        name="result"
        id="result"
        readonly
      >
    </div>

  </main>

  <footer class="footer calculator-footer">
    <%- include('../partials/footer') %>
  </footer>
</body>
</html>