<%- include('./partials/head') %>
<body>
  <h1 class="my-header">esto es un error, código:</h1>
  <h1 class="my-second"><%= status %></h1>
  <h1>mensaje de error</h1>
  <h1><%= message %></h1>

  <%- include('./partials/footer') %>
</body>
</html>