<%- include('./partials/head') %>
<body class="err-body">
  <main class="err-main">
    <div>
      <p>Error</p>
      <p><%= status %></p>
      <p><%= message %></p>
    </div>
  </main>

  <a href="/" class="err-go-home">
    <p>
      <i class="fa-solid fa-house"></i>
      Ir al inicio
    </p>
  </a>

  <footer class="footer err-footer">
    <%- include('./partials/footer') %>
  </footer>

</body>
</html>