<%- include('./partials/head') %>
<body class="index-body">
  <main class="index-main">
    <a href="/cv" target="_blank" rel="noreferrer">
      Mi currículum
    </a>
    <a href="/google" target="_blank" rel="noreferrer">
      Google
    </a>
    <a href="/integrator" target="_blank" rel="noreferrer">
      Integrador
    </a>
    <a href="/calculator" target="_blank" rel="noreferrer">
      Calculadora
    </a>
  </main>

  <footer class="footer index-footer">
    <%- include('./partials/footer') %>
  </footer>
</body>
</html>
