<%- include('../partials/head') %>
<head>
  <!-- bootstrap CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- my script (to prevent form submission) -->
  <script defer type="text/javascript">
    window.addEventListener('load', () => {
      const form = document.querySelector('.int-form')
      form.addEventListener('submit', (e) => {
        e.preventDefault()
      })
    })
  </script>
</head>

<body class="int-body">
  <section class="int-top-section-wrapper">

    <div class="int-nav-wrapper">
      <nav class="int-nav">
        <div class="int-nav-logo">
          <img src="/img/integrator/codoacodo.png" alt="cac-logo" />
          <p>Conf Bs As</p>
        </div>
        <ul class="int-nav-links">
          <li class="active">La conferencia</li>
          <li>Los oradores</li>
          <li>El lugar y la fecha</li>
          <li>Conviértete en orador</li>
          <li class="last-li">Comprar tickets</li>
        </ul>
      </nav>
    </div>

    <header class="int-header-message">
      <h2>
        Conf Bs As
      </h2>
      <p class="p-2">
        Bs As llega por primera vez a Argentina. Un evento para compartir con nuestra comunidad el conocimiento y experiencia de los expertos que están creando el futuro de Internet. Ven a conocer a miembros del evento, a otros estudiantes de Codo a Codo y los oradores de primer nivel que tenemos para ti. Te esperamos!
      </p>
      <div>
        <button class="p-2 rounded mx-2" id="just-button">
          Quiero ser orador
        </button>
        <button class="p-2 rounded mx-2" id="success">
          Comprar tickets
        </button>
      </div>
    </header>

  </section>

  <main class="int-my-card-group card-group w-75 mx-auto my-5">
    <article class="card p-2">
      <img class="card-img-top" src="/img/integrator/steve.jpg" alt="Card image cap">
      <div class="card-body">
        <span class="badge badge-warning">
          Javascript
        </span>
        <span class="badge badge-info">
          React
        </span>
        <h5 class="card-title">
          Steve Jobs
        </h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatibus modi nam laudantium fugiat rem excepturi ducimus sit. Quas molestias facere ullam dolor quod tenetur repellendus maiores voluptatum corporis quo?
        </p>
      </div>
    </article>

    <article class="card p-2">
      <img class="card-img-top" src="/img/integrator/bill.jpg" alt="Card image cap">
      <div class="card-body">
        <span class="badge badge-warning">
          Javascript
        </span>
        <span class="badge badge-info">
          React
        </span>
        <h5 class="card-title">
          Bill Gates
        </h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatibus modi nam laudantium fugiat rem excepturi ducimus sit. Quas molestias facere ullam dolor quod tenetur repellendus maiores voluptatum corporis quo?
        </p>
      </div>
    </article>

    <article class="card p-2">
      <img class="card-img-top" src="/img/integrator/ada.jpeg" alt="Card image cap">
      <div class="card-body">
        <span class="badge badge-warning">
          Javascript
        </span>
        <span class="badge badge-danger">
          Startups
        </span>
        <h5 class="card-title">
          Ada Lovelace
        </h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatibus modi nam laudantium fugiat rem excepturi ducimus sit. Quas molestias facere ullam dolor quod tenetur repellendus maiores voluptatum corporis quo?
        </p>
      </div>
    </article>
  </main>
  
  <div class="carousel-wrapper my-5">
    <section id="carouselExampleSlidesOnly" class="my-carousel carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="/img/integrator/ba2.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/img/integrator/ba3.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/img/integrator/hawaii.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/img/integrator/hawaii2.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/img/integrator/hawaii3.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/img/integrator/honolulu.jpg" alt="Third slide">
        </div>
      </div>
    </section>
    <section class="my-carousel-right">
      <h2 class="p-3">
        Bs As - Octubre
      </h2>
      <p class="p-3">
        Buenos Aires es la provincia y localidad más grande del estado de Argentina, en los Estados Unidos. Honolulu es la más sureña de entre las principales ciudades estadounidenses. Aunque el nombre de Honolulu se refiere al área urbana en la costa sureste de la isla de Oahu, la ciudad y el condado de Honolulu han formado una ciudad-condado consolidada que cubre toda la ciudad (aproximadamente 600km² de superficie).
      </p>
      <button class="m-3 p-2 rounded mx-2" id="just-button">
        Conocé más
      </button>
    </section>
  </div>

  <form class="w-50 mx-auto int-form mb-3">
    <article>
      <p>
        CONVIÉRTETE EN UN
      </p>
      <h2 class="mb-4">
        ORADOR
      </h2>
      <p class="mb-2">
        Anótate como orador para dar una
        <span>
          charla ignite.
        </span>
        Cuéntanos de qué quieres hablar!
      </p>
    </article>
    <div class="d-flex">
      <div class="form-group w-50 px-2 my-2">
        <input
          type="text"
          class="form-control"
          placeholder="Nombre"
        >
      </div>
      <div class="form-group w-50 px-2 my-2">
        <input
          type="text"
          class="form-control"
          placeholder="Apellido"
        >
      </div>
    </div>
    <div class="d-flex">
      <div class="form-check w-100 px-2 my-2">
        <textarea
          id="form-text-area"
          class="form-control"
          rows="3"
          placeholder="Sobre qué quierés hablar?"
        ></textarea>
        <small class="form-text text-muted">
          Recuerda incluír un título para tu charla
        </small>
      </div>
    </div>
    <button type="submit" class="button-send-form">Enviar</button>
  </form>

  <div class="int-footer-wrapper">
    <footer class="int-footer">
      <p>Preguntas frecuentes</p>
      <p>Contáctanos</p>
      <p>Prensa</p>
      <p>Conferencias</p>
      <p>Términos y condiciones</p>
      <p>Privacidad</p>
      <p>Estudiantes</p>
    </footer>
  </div>
</body>
</html>
