<%- include('../partials/head') %>

<body class="google-body">

  <nav class="google-navbar">

    <div class="nav-box">

      <div class="nav-links">
        <p>Gmail</p>
        <p>Imágenes</p>
      </div>

      <div class="nav-buttons">
        <div class="nav-button-grid">
          <div>
            <img src="/img/google/grid.png" alt="grid" />
          </div>
        </div>

        <button class="nav-button-button">
          Acceder
        </button>
      </div>

    </div>

  </nav>

  <main class="google-main">
    <section class="logo">
      <div>
        <img src="/img/google/logo.png" alt="logo" />
      </div>
    </section>
    <section class="search-bar">
      <div>
        
      </div>
    </section>
    <section class="more">
      
    </section>
  </main>

  <footer class="google-footer">

  </footer>

</body>
</html>
