<%- include(../partials/head) %>

<body>
  <nav class="navbar">
    <div class="nav-box">
      <div class="nav-links">
        <p>Gmail</p>
        <p>Images</p>
      </div>
      <div class="nav-buttons">
        <div class="nav-btn-grid">
          <i class="fa-solid fa-grip"></i>
          <i class="fa-solid fa-grip"></i>
        </div>
      </div>
    </div>
  </nav>
  <main class="main">

  </main>
  <footer class="footer">

  </footer>
</body>
</html>
