<a href="https://www.linkedin.com/in/smguastavino/" target="_blank" rel="noreferrer" >
  <i class="fa-brands fa-linkedin"></i>
</a>

<a href="https://my-portfolio-eta-lemon.vercel.app/" target="_blank" rel="noreferrer" >
  <i class="fa-solid fa-globe"></i>
</a>

<a href="https://github.com/santiagoGuastavino" target="_blank" rel="noreferrer" >
  <i class="fa-brands fa-github"></i>
</a>
