@import '_constants.scss';

.err-body {
  font-family: $font-family;
  color: $color-font;
  background-color: $color-bg;
  overflow: hidden;
  position: relative;
}

.err-main {
  height: 88vh;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 12vh;

  div {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-size: $font-l;
    border: 1px solid #fff;
    border-radius: $border-r;
    padding: 20px;
    background-color: #cf6679;
    transition: all $transition;
    box-shadow: $box-shadow;
    
    p {
      color: #000;
      font-size: $font-m;
      text-align: center;
      text-shadow: 1px 1px 1px #fff;
    }
  }
}

.err-go-home {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #fff;
  font-size: $font-m;
  border: $border;
  box-shadow: $box-shadow;
  border-radius: $border-r;
  padding: 20px;
  transition: all $transition;
}

.err-footer {
  height: 12vh;
  border-top: $border;

  &:after {
    box-shadow: $box-shadow;
  }

  a {

    &:hover {
      color: $color-secondary;
    }
  }
}

@media (min-width: 576px) {
  .err-main {
    div {
      p {
        font-size: $font-xxl;
      }
    }
  }

  .err-go-home {
    font-size: $font-xl;
  }
}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  .err-go-home {
    border: 2px transparent solid;
    box-shadow: none;

    &:hover {
      border: $border;
      box-shadow: $box-shadow;
    }
  }
}

@media (min-width: 1200px) {

}
