$font-family: 'Roboto', sans-serif;

$c-white: #fff;
$c-black: #000;
$c-lightgray: #ccc;
$c-gray: #949b9b;
$c-darkgray: #353a40;
$c-green: #29a442;
$c-green-d: #007413;
$c-green-l: #96c93e;
$c-blue: #1e5170;
$c-red: #ff5252;

$font-xl: 24px;
$font-l: 20px;
$font-m: 16px;

$transition: 0.08s ease;

html,
body {
  background-color: $c-darkgray;
}

.int-body {
  font-family: $font-family;
  overflow-x: hidden;

  // boostrap override some of my CSS
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.int-top-section-wrapper {
  width: 100%;
  background-image: url('/img/integrator/ba1.jpg');
  background-position: center;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.int-nav-wrapper {
  width: 100%;
  height: 80px;
  background-color: $c-darkgray;
  display: relative;
}

.int-nav {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  .int-nav-logo {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }

    img {
      width: 140px;
    }

    p {
      font-size: $font-xl;
      color: $c-white;
    }
  }

  .int-nav-links {
    display: flex !important;
    flex-flow: row wrap !important;
    align-items: center !important;
    justify-content: flex-end !important;
    list-style: none !important;

    li, a {
      color: $c-gray;
      font-size: $font-m;
      margin: 0 10px;
      cursor: pointer;
      transition: all $transition;

      &.active {
        color: $c-white;
      }

      &.last-li {
        color: $c-green;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        text-decoration: underline;
        transform: scale(1.02);

        &.last-li {
          color: $c-green;
        }
      }
    }
  }
}

.int-header-message {
  position: absolute;
  align-self: flex-end;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  justify-content: center;
  width: 600px;
  color: $c-white;
  right: 150px;
  bottom: 300px;

  p {
    text-align: right;
  }

  div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    button, a {
      font-family: $font-family;
      font-size: $font-m;
      color: $c-white;
      transition: all $transition;
    }

    button#just-button {
      background-color: transparent !important;
      border: 1px solid $c-white;
      
      &:hover {
        background-color: $c-white !important;
        color: $c-black;
      }
    }

    a#success {
      background-color: #29a442 !important;
      border: 1px solid transparent;
      cursor: pointer;

      &:hover {
        background-color: $c-green-d !important;
        text-decoration: none;
      }
    }
  }
}

.int-my-card-group {
  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}

div.carousel-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

section.my-carousel {
  width: 50%;
  border: 1px solid $c-white;
  .carousel-item {
    img {
      height: 500px;
    }
  }
}

section.my-carousel-right {
  width: 50%;
  background-color: $c-darkgray !important;
  height: 500px;
  border: 1px solid $c-white;
  color: $c-white;

  button {
    font-family: $font-family;
    font-size: $font-m;
    color: $c-white;
    transition: all $transition;
  }

  button#just-button {
    background-color: transparent !important;
    border: 1px solid $c-white;
    
    &:hover {
      background-color: $c-white !important;
      color: $c-black;
    }
  }
}

.int-form article {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  p span {
    border-bottom: 0.5px dotted #000;
  }

}

#form-text-area {
  font-size: $font-xl;
  resize: none;
}

button.button-send-form {
  width: 99%;
  display: block;
  margin: 0 auto !important;
  font-size: $font-l;
  background-color: $c-green-l;
  border: 1px solid $c-green-l;
  border-radius: 4px;
  padding: 6px 0;
  color: $c-white;
  transition: all $transition;

  &:hover {
    background-color: $c-green;
    border: 1px solid $c-green;
  }
}

.int-footer-wrapper {
  width: 100%;
  background-color: $c-blue !important;
  height: 12vh;

  .int-footer {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  
    p {
      width: 100px;
      font-size: $font-l;
      color: $c-white;
    }
  }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
