$font-family: 'Roboto', sans-serif;

$c-white: #fff;
$c-black: #000;
$c-lightgray: #ccc;
$c-gray: #949b9b;
$c-darkgray: #353a40;
$c-green: #29a442;
$c-green-d: #007413;

$font-l: 24px;
$font-m: 16px;

$transition: 0.1s ease;




.int-body {
  font-family: $font-family;
  overflow-x: hidden;

  // boostrap override some of my CSS
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.int-top-section-wrapper {
  width: 100%;
  background-image: url('/img/integrator/ba1.jpg');
  background-position: center;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.int-nav-wrapper {
  width: 100%;
  height: 80px;
  background-color: $c-darkgray;
  display: relative;
}

.int-nav {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  .int-nav-logo {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    img {
      width: 140px;
    }

    p {
      font-size: $font-l;
      color: $c-white;
    }
  }

  .int-nav-links {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    list-style: none;

    li {
      color: $c-gray;
      font-size: $font-m;
      margin: 0 10px;
      cursor: pointer;
      transition: all $transition;

      &.active {
        color: $c-white;
      }

      &.last-li {
        color: $c-green;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $c-white;
        text-decoration: underline;
        transform: scale(1.02);

        &.last-li {
          color: $c-green;
        }
      }
    }
  }
}

.int-header-message {
  position: absolute;
  align-self: flex-end;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  justify-content: center;
  width: 600px;
  color: $c-white;
  right: 150px;
  bottom: 300px;

  p {
    text-align: right;
  }

  div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    button {
      font-family: $font-family;
      font-size: $font-m;
      color: $c-white;
      transition: all $transition;
    }

    button#just-button {
      background-color: transparent !important;
      border: 1px solid $c-white;
      
      &:hover {
        background-color: $c-white !important;
        color: $c-black;
      }
    }

    button#success {
      background-color: #29a442 !important;
      border: 1px solid transparent;

      &:hover {
        background-color: $c-green-d !important;
      }
    }
  }
}

.int-main {
  height: 1000px;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
