@import
  '_constants.scss',
  '_index.scss',
  '_cv.scss',
  '_google.scss',
  '_calculator.scss',
  '_err.scss'
;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

a, a:link, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.footer {
  width: 100%;
  background-color: inherit;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  // set height
  // set border

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 1px;
    // set box-shadow
  }

  a {
    font-size: $font-xl;
    margin: 0 15px;
    cursor: pointer;
    transition: all $transition;

    &:hover {
      transform: scale(1.1);
      // set color
    }
  }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
