[v-cloak] {
  display: none;
}

.main-cv {
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
  .my-header h1 {
    font-size: var(--xxl);
  }

  .my-header h2 {
    font-size: var(--xl);
  }

  .trigger-box i {
    font-size: var(--xl);
  }

  .my-section div strong,
  .my-section div p {
    font-size: var(--m);
  }
}

@media (min-width: 768px) {
  .trigger-box {
    display: none;
  }

  .my-section div::after {
    width: 10%;
    left: 0;
    transform: none;
  }

  .my-section div strong,
  .my-section div p {
    text-align: left;
  }

  .my-aside {
    right: 0;
    border: none;
    border-left: var(--border);
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
